@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 100%;
    height: 100%;
}

.to-do-list {
    width: 768px;
    margin: 100px auto;
}

.main_list_item {
    box-sizing: border-box;
    width: calc(75% + 40px);
    height: 80px;
    margin: 20px auto;
    border-radius: 5px;
    border: 3px solid rgb(63, 63, 63);
    padding: 15px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.to-do-list .main_list_item #main_input {
    box-sizing: border-box;
    width: 80%;
    height: 40px;
    padding: 10px 5px;
}

.to-do-list .main_list_item input:focus {
    border-radius: 1px solid black;
}

.to-do-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    width: 80px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
}

.to-do-button:hover {
    background-color: #125a04;
    border: 1px solid black;
}

.to-do-list .list_item {
    width: 75%;
    margin: 20px auto;
    border-radius: 5px;
    border: 2px solid rgb(63, 63, 63);
    padding: 15px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.list_item h1 {
    word-wrap: break-word;
    width: 85%;
    padding: 0;
    margin: 0;
    font-size: 22px;
    white-space: pre-wrap;
}

.list_item .delete_button {
    width: 80px;
    height: 22px;
}